# Clear Entire Git Cache
# git rm -r --cached .
node_modules
*.jar
*.exe
*.o
*.[.exe,.jar]
.vscode
test.cpp
test.c
tempCodeRunnerFile.cpp
test_c.c
test.sh
test.ts
# python bytecode
__pycache__/
*.py[cod]
# itellij
out/
target/